langgraph 
langchain[openai]
langchain-community 
langchain-text-splitters
langchain-voyageai
langchain-pinecone
langgraph-checkpoint-postgres
pypdf
boto3
unstructured[pdf]
rank_bm25

fastapi[standard]
psycopg[binary,pool]
asyncpg

pytest
SQLAlchemy
alembic
python-dotenv
python-decouple
deepeval

guardrails-ai>=0.4.0
tenacity>=8.1.0
transformers>=4.11.3
torch>=2.1.1

#guardrails hub install hub://tryolabs/restricttotopic --quiet
#guardrails hub install hub://guardrails/detect_pii
certifi